.container{
  display: flex;
  justify-content: center;
}

.text-form {
  display: flex;
  justify-content: center;
  padding: 2rem;
  font-size: 16px;
  line-height: 20px;
  color: #c9c045;
}

.form-container{
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100px;
  box-sizing: border-box;  
}

.textLabel {
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  padding: 0.5rem 0;
  color: #e8e7dc;
}

.label-password{
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  padding: 0.5rem 0;
  padding-top: 15px;
  color: #e8e7dc;
}

.select-style{
  border-radius: 8px;
  align-items: center;
  border-bottom: 3px solid #ffc107;
  font-size: 15px;
  color: black;
  height: 35px;
  width: 138px;
}
