.text-input, .client-name {
  border-radius: 8px;
  border-bottom: 3px solid #ffc107;
  font-size: 15px;
  color: black;
  height: 35px;
  width: 260px;
}

.client-name {
  font-size: 15px;
  height: 25px;
  width: 150px;
  border-radius: 30px;
  text-align: center;
}