.text-label-register{
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  padding: 0.5rem 0;
  color: #e8e7dc; 
}

.text-input-register{
  border-radius: 8px;
  align-items: center;
  border-bottom: 3px solid #ffc107;
  font-size: 15px;
  color: black;
  height: 30px;
  width: 260px;
}

.label-password-register{
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  padding: 0.5rem 0;
  padding-top: 10px;
  color: #e8e7dc;
  border-radius: 8px;
}

.container-input-select{
  display: flex;
  flex-direction: row; 
}

.input-password-register{
  border-radius: 8px;
  border-bottom: 3px solid #ffc107;
  color: black; 
  width: 150px;
}

.select-style{
  margin-left: 10px;
  height: 35px;
  width: 100px;
  border-bottom: 3px solid #ffc107;
}

.text-paragraph-register{
  color: white;
  margin: auto;
}