.button {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 150px;
    height: 35px;
    padding: 12px 17px;
    border-radius: 8px;
    background-color: rgb(189, 36, 25);
    background-size: 200%;
    color: rgb(226, 226, 226);
    cursor: pointer;
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 20px;
    font-size: 15px;
    border: 0;
}

.btn-products {
  border-radius: 8px;
  border: 2px solid #ffc107;
  font-size: 15px;
  height: 35px;
  width: 210px;
  cursor: pointer;
  color: white;
  background: #333;

}

.btn-add-product, .btn-send-order {
  border-radius: 6px;
  width: 100px;
  height: 30px;
  background-color: #FFBC0D;
  font-size: 17px;
  border: 0px;
  cursor: pointer;
}

.btn-send-order{
  width: 130px;
  height: 30px;
  cursor: pointer;
}

.btn-exit {
  width: 50px;
  height: 50px;
  color: #FFBC0D;
  cursor: pointer;
  font-size: 2em;
  background-color: transparent;
  border: none;
}

.btn-remove, .btn-add {
  cursor: pointer;
  font-size: 2em;
  background-color: transparent;
  border: #333;
}

.btn-remove{
  color:rgb(232, 43, 30)
}

.btn-add{
  color: rgb(85, 231, 85);
}

.btn-finish{
  border-radius: 5px;
}
