body{
  background: url("../../img/background.png");
  width: 100%;
  background-size: cover;
}

.container-saloon{
  display:flex;
  width: 100vw;
  height: calc(100vh - 220px);
} 

.container-products{
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.all-products{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  gap:10px;
  justify-content: space-between;
}

.menu-products{
  overflow: auto;
  height: 100%;
  width: 80%;
}

.order{
  width: 30%;
  margin: 0 auto;
  height: 60%;
}

.products-command{
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 500px;
  background-color: #333;
  border-radius: 10px;
  border: rgb(197, 206, 66) solid;
  padding: 0;
  box-shadow: 10px 10px 10px 10px rgba(198, 201, 12, 0.2);
  margin: auto  0 ;
}

.order-command{
  color: #FFBC0D;
  padding: 10px;
}

.client-table{
  padding-left: 10px;

}

.select-table {
  margin-left: 10px;
  height: 25px;
  width: 100px;
  border-bottom: 3px solid #ffc107;
  border-radius: 30px;
  text-align: center;
}

.command-itens{
  color: white;
  padding: 10px;
  text-align: left; 
}
.item-command {
  overflow: auto;
  height: 60%;
}

li{
  list-style-type: none;
}

.total-order{
  color: white;
  padding-bottom: 10px;
}

.order-completion{
  position: fixed;
  bottom: 120px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}



