* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    margin: 0 auto;
  } 
  
  .container-login {
    margin: auto;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background: url("../../img/background.png");
  }
  
  .wrap-login {
    height: 450px;
    width: 250px;
    background-color: #333;
    border-radius: 10px;
    border: rgb(197, 206, 66) solid;
    padding: 7px 55px 33px 55px;
    box-shadow: 10px 10px 10px 10px rgba(198, 201, 12, 0.2);
    
  }
  