* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.order-list{
  box-sizing: border-box;
  display: flex;
  color: black;
  background: white;
  border-radius: 15px;
  border: solid #FFBC0D;
  height: 120px;
  width: 600px;

}

.container-details-order{
  display: grid;
  /* justify-content: start; */
  align-content: center;
  justify-items: start;
 
  
}
/* 
.details-order{

} */
.style-products{
  overflow: auto;
  height: 120px;
  width: 300px;
}